// About
.card-container {
  width: 100%;

  .card-deck {
    max-width: 100%;

    .row {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        margin-bottom: 30px;
        min-height: 300px;
        @include easeOut();
        @include boxShadow();

        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 2px 2.4px rgba(0, 0, 0, 0.034),
            0 5.3px 6px rgba(0, 0, 0, 0.041),
            0 10.9px 12.2px rgba(0, 0, 0, 0.045),
            0 21.3px 25.2px rgba(0, 0, 0, 0.051),
            0 57px 69px rgba(0, 0, 0, 0.08);
        }

        .card-img-top {
          height: 100px;
          width: 100px;
        }
        .card-body {
          padding-bottom: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;

          .card-text {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
