//contact form
.contact-container {
  padding: 150px 0 150px 0;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    border-radius: 10px;
    padding: 50px;

    .contact-info {
      padding: 10px;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .infos {
        h5 span {
          margin-right: 5px;
          font-size: 1.5rem;
        }
      }
    }

    // .map {
    //   padding: 10px;
    // }

    .contact {
      .error {
        color: red;
        font-size: 0.7rem;
        text-align: left;
        width: 100%;
        margin-left: 5px;
        margin-bottom: 0;
      }
      .success {
        color: green;
        font-size: 0.7rem;
        text-align: left;
        width: 100%;
      }

      .inputError {
        border-left: 3px solid red;
      }

      .form-group {
        width: 100%;

        textarea {
          width: 100%;
        }

        button .paper-plane {
          font-size: 1.5rem;
          margin-right: 10px;
        }
      }

      .checkbox {
        display: flex;
        align-items: center;
        text-align: center;
        vertical-align: center;
        padding: 5px;

        input {
          margin: 5px;
        }

        p {
          margin: auto;
          font-size: 0.8rem;
        }
      }
    }
  }
}
