//contact form
.contact-container {
  padding-top: 90px;

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary-color;
    border-radius: 10px;
    padding: 20px;
    @include boxShadow();
    @include border();

    //Côté coordonnées
    .contact-info {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      .list-group {
        margin: 0;
        padding: 0;

        .list-group-item {
          border-radius: 5px;
          background: $primary-color;
          color: set-text-color($primary-color);
          @include border();
          margin-bottom: 10px;

          &:hover {
            border-left: 4px solid $secondary-color;
          }

          .infos {
            padding-left: 10px;
            &-text {
              display: flex;
              flex-direction: column;

              h5 svg {
                color: $secondary-color;
              }

              p {
                margin-left: 20px;
              }
            }
          }
        }
      }
    }

    //Côté Formulaire
    .contact {
      border-radius: 5px;
      display: flex;
      flex-direction: column;

      .form-group {
        width: 100%;

        .input-group {
          display: flex;

          .input-group-prepend span,
          .input-group-append span {
            background-color: $input-color;

            svg {
              color: $secondary-color;
            }
          }

          .input-group-text {
            color: $secondary-color;
          }

          .form-control {
            background-color: $input-color;
          }
        }

        .error {
          color: red;
          font-size: 1rem;
          text-align: left;
          width: 100%;
          margin: 5px 5px 0 0;
        }

        .inputError {
          border-left: 2px solid red;
        }

        button {
          padding: 8px 20px;
          font-size: 1.3rem;
          letter-spacing: 0.2rem;
          font-weight: bold;
          background: $primary-color;
          color: set-text-color($primary-color);
          @include border();
        }

        .btn {
          @include easeOut();

          &:active,
          &:hover {
            background: $secondary-color;
            color: $primary-color;
          }
        }
      }

      .alert-success {
        padding-left: 30px;
        .alert-title {
          display: flex;
          align-items: center;
          margin: 0;

          h5 {
            margin: 0;
          }

          .fa-paper-plane {
            font-size: 2rem;
          }
        }
      }

      .checkbox {
        display: flex;
        margin-top: 10px;
        margin-bottom: 0;

        input {
          margin: 5px 15px 5px 5px;
        }

        .inputError {
          outline: 1px solid red;
        }

        .conditions-text {
          font-size: 0.9rem;
          display: flex;
          flex-direction: column;
          position: relative;
          margin-bottom: 15px;

          .error {
            position: absolute;
            transform: translate(-25px, 125px);
          }
        }
      }

      .submit-button {
        margin-top: 40px;
      }
    }
  }
}
