@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap");

$primary-color: #232b4e;
$secondary-color: #f8c81e;

@mixin easeOut {
  transition: all 0.3s ease-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

p,
a {
  font-family: "Merriweather", serif;
}
