//contact form
.contact-container {
  .container {
    height: 100%;
    width: 100%;
    background: $primary-color;
    border-radius: 10px;
    padding: 20px;
    @include boxShadow();
    @include border();

    .row {
      width: 100%;
      margin: 0;
    }

    //Côté coordonnées
    .contact-info {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      .list-group {
        margin: 0;
        padding: 2px;

        .list-group-item {
          border-radius: 5px;
          background: $primary-color;
          color: set-text-color($primary-color);
          @include border();
          margin-bottom: 10px;

          // &:hover {
          //   border-left: 4px solid $secondary-color;
          // }

          .infos {
            padding-left: 10px;

            &-text {
              display: flex;
              flex-direction: column;
              width: 100%;

              h5 {
                width: 100%;
                text-align: center;
              }

              svg {
                color: $secondary-color;
              }
            }
          }
        }
      }
    }

    //Côté Formulaire
    .contact-form {
      border-radius: 5px;
      display: flex;
      flex-direction: column;

      .form-group {
        width: 100%;

        .input-group {
          display: flex;

          .input-group-prepend span,
          .input-group-append span {
            background-color: $input-color;

            svg {
              color: $secondary-color;
            }
          }

          .input-group-text {
            color: $secondary-color;
          }

          .form-control {
            background: $input-color;
            color: set-text-color($input-color);
          }
        }

        .error {
          color: red;
          font-size: 1rem;
          text-align: left;
          width: 100%;
          margin: 5px 5px 0 0;

          svg {
            margin-right: 10px;
          }
        }

        .conditions-text .error {
          margin-left: -30px;
        }

        .inputError {
          border-left: 2px solid red;
        }
      }

      .submit-button {
        margin-top: 20px;

        .btn {
          @include btn();
          letter-spacing: 0.2rem;
          width: 150px;
        }
      }

      .alert-success {
        padding-left: 30px;

        .alert-title {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;

          h5 {
            margin: 0;
            color: #155724;
          }

          .fa-paper-plane {
            font-size: 2rem;
          }
        }
      }

      .checkbox {
        display: flex;
        margin-top: 10px;
        margin-bottom: 0;

        input {
          margin: 5px 15px 5px 5px;
        }

        .inputError {
          outline: 1px solid red;
        }

        .conditions-text {
          font-size: 0.9rem;
          display: flex;
          flex-direction: column;
          position: relative;
          margin-bottom: 15px;
        }
      }
    }
  }
}
