// Header on top
#header {
  width: 100vw;
  height: 80px;
  position: fixed;
  z-index: 50;
  background: $primary-color;
  visibility: hidden;
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
  @include easeOut();

  .navbar {
    display: flex;
    height: 100%;
    width: 100%;

    .nav-brand {
      margin-right: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: $secondary-color;
      text-decoration: none;
      text-align: center;

      svg {
        margin-right: 10px;
      }

      h4 {
        margin: 0;
      }
    }

    .nav-list {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 0;
      width: 60%;

      .nav-icon {
        display: none;
      }

      .nav-item {
        padding: 5px;
        display: flex;
        counter-increment: item 1;

        .winker {
          width: 10px;
          height: 20px;
          transform: translate(15px, 10px);
        }

        .nav-link {
          @include easeOut();
          color: set-text-color($primary-color);
          font-size: 1.2rem;
          display: inline-block;
          position: relative;
          cursor: pointer;

          &:before {
            content: "0" counter(item) ".";
            text-align: right;
            color: $secondary-color;
            font-size: 0.9rem;
            padding-left: 5px;
            margin-right: 10px;
          }
        }

        &:hover,
        &:focus,
        &:active {
          .nav-link {
            color: $secondary-color;
          }

          .winker {
            background-color: $secondary-color;
            animation: wink 0.5s linear infinite alternate;
          }

          @keyframes wink {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
