#header {
  .navbar {
    .nav-item {
      counter-increment: item 1;
      .nav-link {
        display: inline-block;
        position: relative;
        cursor: pointer;
        text-decoration: none;
        padding: 12px 10px;
        white-space: nowrap;
        font-size: 1rem;

        &:before {
          content: "0" counter(item) ".";
          text-align: right;
          color: $secondary-color;
          font-size: 0.9rem;
          transition: 0.7s ease;
        }
      }
    }
  }
}
