* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

.app {
  line-height: 1.5;
  background: $primary-color;
  color: set-text-color($primary-color);
  font-size: 1rem;
  font-family: "Consolas", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: $secondary-color;
}

p {
  color: $third-color;
}

.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

.main {
  counter-reset: title 0;

  .container-title {
    margin: 10px 0px 40px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    padding-left: 50px;
    counter-increment: title 1;

    &:before {
      content: "0" counter(title) ".";
      margin-right: 10px;
      font-weight: normal;
      color: rgb(100, 255, 218);
      font-size: 20px;
      position: relative;
    }

    &:after {
      content: "";
      display: block;
      height: 1px;
      width: 300px;
      background-color: rgb(48, 60, 85);
      position: relative;
      margin-left: 20px;
    }
  }
}
