* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.app {
  line-height: 1.5;
  background: $primary-color;
  color: set-text-color($primary-color);
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: "Consolas", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: $secondary-color;
}

p {
  color: $third-color;
}

.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}
