// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  //App
  .app {
    padding-bottom: 90px;

    // Header at bottom
    #header {
      width: 100vw;
      height: 80px;
      @include border();
      position: fixed;
      z-index: 10;
      bottom: 0;
      opacity: 1 !important;
      background: $primary-color;

      .navbar {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .nav-brand {
          display: none !important;
        }

        .nav-list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          list-style: none;
          width: 100% !important;
          margin-bottom: 0;

          .nav-icon {
            display: flex !important;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            border: rgba(100, 255, 218, 0.7) 1px solid;
            height: 100%;
            margin: 0px 2px;
            width: 100%;

            .nav-link {
              text-decoration: none;
              color: $secondary-color;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              &-text {
                font-size: 0.9rem;
                margin-bottom: 0;
              }
            }
          }

          .nav-item {
            counter-increment: item 1;
            display: none;

            .nav-link {
              display: inline-block;
              position: relative;
              cursor: pointer;
              text-decoration: none;
              padding: 12px 10px;
              white-space: nowrap;
              font-size: 1rem;

              &:before {
                content: "0" counter(item) ".";
                text-align: right;
                color: $secondary-color;
                font-size: 0.9rem;
                transition: 0.7s ease;
              }
            }
          }
        }
      }
    }

    // Carousel
    #carousel {
      height: 50vh !important;

      .carousel-caption .content {
        h1 {
          font-size: 1.6rem;
        }
        p {
          font-size: 0.9rem;
        }
      }
    }

    // Cards
    #services .card-deck {
      padding: 10px 30px;
    }

    // About
    #about .container {
      padding: 10px 30px;
      .portrait {
        width: 250px;
        height: 250px;
        background: url("../components/img/bat-portrait-2-min.jpg") no-repeat;
        border-radius: 1rem;
        float: none;
        shape-outside: none;
        margin: auto;
        margin-bottom: 40px;
      }
      .bio {
        display: block;
        width: 100%;
        .bio-text {
          text-align: justify;
        }
      }
    }

    // Form
    #contact .container {
      padding: 10px 30px;
      border-top: none;
      border-right: none;
      border-left: none;
      box-shadow: none;
      border-radius: 0;

      .row {
        display: flex;
        flex-direction: column;

        .contact-info {
          width: 100%;

          hr {
            margin: 3rem 0 1rem 0;
          }

          .list-group {
            margin-bottom: 30px;
          }
        }

        .contact-form {
          .alert-title {
            svg {
              font-size: 1.6rem !important;
            }

            h5 {
              font-size: 1rem !important;
            }
          }

          .alert-msg p {
            font-size: 0.8rem !important;
          }

          .submit-button {
            display: flex;
            justify-content: center;
            width: 100%;

            .btn {
              width: 100%;
              margin: 0;
            }
          }
        }
      }
    }

    // Footer
    #footer {
      .container-fluid .row {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

        .footer-content {
          margin: 1em 0;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

// Small devices (landscape phones, small tablets, 577px to 767px)
@include media-breakpoint-only(sm) {
  //Header
  #header {
    .nav-list {
      width: 80% !important;
      .nav-link {
        font-size: 1rem !important;
      }
    }
  }

  // Carousel
  #carousel {
    height: 75vh !important;

    .carousel-caption .content {
      h1 {
        font-size: 1.6rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }

  // About
  #about {
    padding-top: 90px;
    .container {
      padding: 0px 75px !important;

      .portrait {
        width: 250px !important;
        height: 250px !important;
        background: url("../components/img/bat-portrait-2-min.jpg") no-repeat !important;
      }
    }
  }

  // Form
  .contact .checkbox p {
    padding-right: 10px;
  }
  .button {
    padding-left: 10px;
  }
}

// Medium devices (tablets, 768px to 992px)
@include media-breakpoint-only(md) {
  //Header
  #header {
    .nav-list {
      width: 75% !important;
      .nav-link {
        font-size: 1.1rem !important;
      }
    }
  }

  // About
  #about {
    .container {
      padding: 0px 100px !important;

      .portrait {
        width: 250px !important;
        height: 250px !important;
        background: url("../components/img/bat-portrait-2-min.jpg") no-repeat !important;
      }
    }
  }

  // Form
  #contact {
    padding-left: 40px;
    padding-right: 40px;
    .container {
      max-width: 100% !important;
    }
  }

  // Footer
  .footer-content {
    width: 60%;
    display: flex;
    flex-direction: column;

    .footer-links {
      width: 50% !important;
    }
  }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
  //Header
  #header {
    .nav-list {
      width: 60% !important;
      .nav-link {
        font-size: 1.2rem !important;
      }
    }
  }

  // About

  // Form
  .checkbox {
    .conditions-text {
      font-size: 0.9rem;
      display: flex;
      flex-direction: column;
      position: relative;
      margin-bottom: 15px;
    }
  }

  // Footer
  .footer-links {
    display: flex;
    flex-wrap: wrap;
  }
}

// Large devices (desktops, more than 1200px)
@include media-breakpoint-only(xl) {
}
