// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  // Header at bottom
  #header nav {
    // bottom: 0;
  }

  // Carousel
  .carousel-container {
    height: 50vh !important;

    .carousel-caption .content {
      h1 {
        font-size: 1.6rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }

  // Cards
  .card-container .container {
    padding: 0px 30px;
  }

  // Form
  .contact-container {
    padding: 10px;
    .row {
      display: flex;
      flex-direction: column;

      .contact-info {
        width: 100%;

        hr {
          margin: 3rem 0 1rem 0;
        }

        .list-group {
          margin-bottom: 30px;
        }
      }

      .alert-title {
        svg {
          font-size: 1.6rem !important;
        }

        h5 {
          font-size: 1rem !important;
        }
      }

      .alert-msg p {
        font-size: 0.8rem !important;
      }

      .button {
        display: flex;
        justify-content: center;
        width: 100%;

        .btn {
          width: 100%;
        }
      }
    }
  }

  // Footer
  .footer .row {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    .content {
      margin: 1em 0;
      display: flex;
      flex-direction: column;
    }
  }
}

// Small devices (phones, 577px to 767px)
@include media-breakpoint-only(sm) {
  // Carousel
  .carousel-container {
    height: 75vh !important;

    .carousel-caption .content {
      h1 {
        font-size: 1.6rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }

  // Form
  .contact .checkbox p {
    padding-right: 10px;
  }
  .button {
    padding-left: 10px;
  }
}

// Medium devices (tablets, 768px to 992px)
@include media-breakpoint-only(md) {
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
}
